﻿<div class="navbar navbar-fixed-top navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <div class="logo">
                <img src="~/Content/" height="27px" width="72px"/>
                <span class="logo-bold">uShip University - Scheduler</span>
            </div>
        </a>
    </div>
    
    <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
    }
</div>